<%- include('main-facebook/header.ejs')%>
    <%- include('main-facebook/post-modal.ejs' )%>
        <%- include('main-facebook/change-profile.ejs' )%>
            <main>
                <%- include('main-facebook/left-section.ejs') %>
                    <div class="posts-container">
                        <%- include('main-facebook/story.ejs') %>
                            <%- include('main-facebook/posting.ejs') %>
                                <% for(const postDetail of postDetails) { %>
                                    <%- include('main-facebook/posts.ejs', {postDetail}) %>
                                        <% } %>
                    </div>
                    <%- include('main-facebook/right-section.ejs') %>
            </main>