<dialog id="modal-change-password" class="modal" close>
    <form action="/change-password" method="POST" class="form-sign-up">
        <div class="form-content">
            <div>
                <!-- the div is used for fixing design error -->
            </div>
            <p id="change-password-title">Change Password</p>
            <div>
                <!-- the div is used for fixing design error -->
            </div>

            <input type='email' id="changepass-email" name="email" placeholder="Email"
                value="<%=changePassword.email.value%>" data-error="<%=changePassword.email.message%>">
            <input type='password' id="changepass-password" name="password" placeholder="Password"
                value="<%=changePassword.password.value%>" data-error="<%=changePassword.password.message%>">
            <input type='password' id="changepass-confirm-password" name="confirmPassword"
                placeholder="Confirm-password" value="<%=changePassword.confirmPassword.value%>"
                data-error="<%=changePassword.confirmPassword.message%>">

            <button class="btn design" id="sign-up">Change Password</button>
            <% if(changePassword.hasError) { %>
                <p id="change-password-error"></p>
                <% } %>

        </div>
    </form>

</dialog>